html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("/HTML-Restaurant-Menu/assets/images/slow-flame.png");
    background-size: cover;
    background-position: center;
    

}

h1,
h2 {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1.0px;
    -webkit-text-stroke-color: rgb(192, 25, 25); 
}

li {
    color: rgb(255, 255, 255);
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    
    padding: 20px;
    width: 100%;
    background-color:rgb(255, 255, 255)

}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration-thickness: 3px;
    font-size: 2.0em;
    color: rgb(193, 20, 20);
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 55%;
    height: auto;
    padding: 10px;
    border: 3px solid white; 

}

#banner img {
    width: 100%;
    height: auto;
}

.service {
    display: inline-block;
    background-color: white;
    border: 5px solid rgb(172, 1, 1);
    border-radius: 5px;
    color: darkred;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
}

table {
    border: 3px solid black;
    width: 100%;

}
  
td,
th {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    color: white;
}
    
footer{
    color: white;
}
h3 {
    color:rgb(216, 108, 49)
}
#turkey{
    padding: 10px;
    border: 3px solid white;
}
p {
    color: white; 
}